<!DOCTYPE html>
<html>
<head>
    <title>Türkiyeyi Keşfet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-9">
    <link rel="shortcut icon" href="/images/logo_icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>

<body>
	<div class="menu">
		<div class="header">
			<img src = "/images/logo.png" width="250" height="80">
			<div class="header-right">
				<button class="button button_menu" onclick="window.location.href='/<%=users[user].id%>/search'"><img src="/images/find.png" width="15px" height="15px"> Ara</button>
				<button class="button button_menu" onclick="window.location.href='/<%=users[user].id%>/page'"><img src="/images/page.png" width="15px" height="15px"> Sayfam</button>
				<button class="button button_menu" onclick="window.location.href='/<%=users[user].id%>/settings'"><img src="/images/ayarlar.png" width="15px" height="15px"> Ayarlar</button>
				<button class="button button_menu" onclick="window.location.href='/'"><img src="/images/x.png" width="15px" height="15px"> Çıkış</button>
			</div>
		</div>
	</div>
	<div class="tual">
		<div class="sol_menu">
			<img src="<%=places[id].picture%>" style="border-radius: 50%;" width="240" height="240">
			<h2><%=places[id].name%></h2>
			<form action="/<%=user%>/<%=id%>/like" method="POST">
				<input type="hidden" name="user" value="<%=user%>">
				<input type="hidden" name="place" value="<%=id%>">
				<button type="submit" class="button button_icerik"><img src="/images/kalp.png" width="15px" height="15px"> Beğen</button>
			</form>
			<ul id="myMenu">
				<li><a href="/<%=user%>/<%=places[id].id%>/comments">Yorumlar</a></li>
				<li><a href="/<%=user%>/<%=places[id].id%>/information"><b style="color: red">Bilgiler</b></a></li>
				<li><a href="/<%=user%>/<%=places[id].id%>/photos">Fotoğraflar</a></li>
				<li><a href="/<%=user%>/<%=places[id].id%>/videos">Videolar</a></li>
				<li><a href="/<%=user%>/<%=places[id].id%>/fans">Beğenenler</a></li>
			</ul>
		</div>
		<div class="sag_icerik" style="font-size:150%; font-family:segoe ui;">
			<h2><%=places[id].name%></h2>
			<b>Şehir: </b><%=places[id].city%> <br>
			<%=places[id].about%><br><br>
			<iframe src="<%=places[id].map%>" width="100%" height="720px" frameborder="0" style="border:0" allowfullscreen></iframe> <br><br>
			<b>Ulaşım: </b><%=places[id].transportation%>
		<div style="clear: both"></div>
		</div>
	</div>
</body>
</html>